<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billy.cc.demo.component.protect" >

    <permission android:name="cc.permission.com.billy.cc.demo.REMOTE_CC" android:protectionLevel="signature" />
    <uses-permission android:name="cc.permission.com.billy.cc.demo.REMOTE_CC" />
    <application>
        <receiver android:name="com.billy.cc.core.component.ComponentBroadcastReceiver"
            android:permission="cc.permission.com.billy.cc.demo.REMOTE_CC"
            />
    </application>

</manifest>
