<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.billy.cc.demo.component.b" >

    <application>
        <activity android:name="com.billy.cc.demo.component.b.ActivityB" />
        <activity android:name="com.billy.cc.demo.component.b.LoginActivity"
            android:process=":processB"
            />
        <!-- TODO 使用插件自动注入 -->
        <provider
            android:authorities="${applicationId}:processB.com.billy.cc.core.remote"
            android:name=".BProvider"
            android:process=":processB"
            android:exported="true"
            />
    </application>
</manifest>
